/* Vite Tailwindcss Plugin Import */
@import "tailwindcss";

/* Tailwindcss Dependencies Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #FAF9F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Common */
.Display-Heading-2 {
  @apply text-4xl font-bold italic 
  tracking-wide mb-4
}

.Form-Submit-Button {
  @apply block border border-2
}


/* List Notes View Tree */
.List-Notes-View-Root-Container {
  @apply p-4 m-2
}

.Note-List-Root-Container {
  @apply p-2 text-center
}

.Note-List-Static-Container {
  @apply flex flex-row justify-around
}

.Note-Root-Container {
  @apply m-2 border border-2 p-4 rounded-xl transition ease-in-out hover:shadow-xl 
}

.Note-Root-Container h2 {
  @apply text-xl font-semibold
}



/* Forms */
.Add-Note-From-Root-Container {
  @apply m-3 p-4 text-center flex flex-col items-center 
}

.Add-Note-Form-Static-Container {
  @apply border border-2 p-4 m-2 flex flex-col w-xl
}

.Add-Note-Form-Static-Container label {
  @apply text-xl font-semibold tracking-wide block
}

.Add-Note-Form-Static-Container input {
  @apply border border-2 text-center
  rounded-xl
}






